<section class="saludo col-xl-5 col-md-10 ms-sm-auto me-sm-auto col-sm-9 d-flex flex-column mt-10">
  <h5 class="green sldo-text">Hello there!</h5>
  <h1 class="white sldo-text">Soy Lu Wagner. </h1>
  <h1 class="purple sldo-text">Soy Diseñadora Gráfica y Full Stack Developer.</h1>
  <p class="purple sldo-text">Pongámonos en contacto!</p>
  <div class="buttons">
      <button class="btn btn-primary contact-btn ">Contactame</button>
      <button class="btn btn-outline-primary work-btn ">Mira mi trabajo</button>
  </div>
</section>
